<div class="container">
     <button  class="btn btn-primary  m-3" data-bs-toggle="modal" data-bs-target="#addRecordModal">Add</button>

<table class="table table-hover ">
    <thead>
      <tr>
        <th class="col-3">Id</th>
        <th class="col-3">Name</th>
        <th class="col-3">Is Activated</th>
        <th class="col-3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of employees">
        <td >{{e.employeeId}}</td>
        <td>{{e.name}}</td>
        <td>{{e.isActivated}}</td>
        <td>
            <button class="btn btn-danger m-3" data-bs-toggle="modal" data-bs-target="#DeleteRecoreModal">Delete</button>
            
        </td>
      </tr>
    </tbody>

  </table>
<br><br>

  <!-- Add Record Modal -->
  <div class="modal" tabindex="-1" role="dialog" id="addRecordModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Record</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        </div>
        <div class="modal-body">
         
          <form>
            <div class="form-group">
              <label for="addRecordName">Name:</label>
              <input type="text" [(ngModel)]="name" class="form-control" id="addRecordName" name="name" required>
            </div><br>
          
          
          
            <button type="submit" class="btn  btn-primary  " (click)="Add()" [disabled]="!isNameValid()">Add Record</button>
            <button type="button" class="btn btn-secondary m-3" data-bs-dismiss="modal">Close</button>

          </form>       
        </div>
      </div>
    </div>
  </div>


  
  
  <!-- Delete Record Modal -->

<div class="modal fade" id="DeleteRecoreModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Employee</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            Are You Sure That You want to Delete this Employee?      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger" (click)="delete(employeeId)">Yes</button>
      </div>
    </div>
  </div>
</div>
  
  
  
  


</div>