/*  Fixed bottom footer*/
.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 100;
  }
  
  .nav-link {
    color: #444444;
  }
  
  .navbar-right .nav-link {
    color: #444444;
    font-weight: bold;
  }
  
  .nav-underline.left li:nth-child(2) a::before,
  .nav-underline.left li:nth-child(3) a::before,
  .nav-underline.left li:nth-child(4) a::before,
  .nav-underline.left li:nth-child(5) a::before {
    content: "\2022";
    margin-right: 10px;
    font-size: 12px;
  }
  
  .nav-underline li a {
    display: inline-block;
  }
  
  .nav-underline li a span {
    display: inline-block;
    padding-left: 10px;
  }
  
  .nav-underline.left li a:hover {
    color: #333;
  }

  .nav-link.dropdown-toggle::after {
    display: none;
  }
 


   .dropdown-menu {
    color: #000;
    text-decoration: none;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    }
 
    
    .dropdown-menu li:first-child a {
      font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
      font-size: 14px;
      line-height: 18px;
      text-transform: capitalize;
      border-radius: 600px;
      margin-bottom: 20px;
    } 
    
    .dropdown-menu ul li {
      list-style: none;
      padding: 0;
      justify-content: space-between;
      margin: 0 10px;
    
    } 

   
/*End Of Fixed Bottom Footer Section*/

  